body {
  background-color: gainsboro;
}
.header {
  width: 100%;
  height: 25%;
  margin-bottom: 10px;
}

.content1 {
  margin-left: 25px;
  padding: 5px;
}

.content2 {
  float: right;
  margin-right: 25px;
  padding:5px;
}

.result {
  margin-left: 10px;
  margin-right: 10px;
  border-top: 5px dashed darkgray;
  text-align: center;
}
